.test-button{
    width: 10rem;
    border-width: 1px;
    background-color: rgb(189, 90, 247);
}

.test-button:hover {
    transition: .1s ease;
    border-width: 3px;
    border-color: rgba(89, 11, 148, 0.759);
}

.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    padding: 12px;
    height: 100%;
    width: 90%;
    margin: auto;
    gap: 20px;
}

.inner-container-horizontal{
    border: 1px solid green;
    width: 90%;
    height: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.bottom-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 20px;
}

.inner-container-vertical {
    width: 30%;
    border: 1px solid blue;
    margin: auto;
    height: 100%;
}

.inner-container-vertical {
  width: 30%;              
  min-height: 160px;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

header {
    background-color: grey;
    width: 90%;
}